 #carouselCover .carousel-item {
      position: relative;
      height: 60vh;
      min-height: 350px;
    }
    #carouselCover .carousel-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
       background-size: cover;
      /* background-position: center; */
      filter: brightness(30%);
    }
    #carouselCover .carousel-caption {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      display: flex;
      align-items: center;
      padding: 0 1rem;
    }
    #carouselCover .caption-content {
      color: #fff;
      max-width: 500px;
    }

    .full-width-image {
    width: 100%;
    height: 400px;
    background: url('../images/territorio-nacional.png') center/cover no-repeat;
  }

  #carouselCover .carousel-image {
    pointer-events: none;
  }

  /* Garante que as setas fiquem acima da imagem */
  #carouselCover .carousel-control-prev,
  #carouselCover .carousel-control-next {
    z-index: 5;
    width: 5%; /* aumenta a área clicável, se necessário */
  }