body {
  margin: 0;
  font-family: Arial, sans-serif;
}
header {
  background-color: navy;
  color: white;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Me5Q.ttf")
    format("truetype");
}

.text-gray  { color: var(--gray)  !important; }
.text-blue  { color: var(--blue)  !important; }
.text-gold  { color: var(--gold)  !important; }
.text-black { color: var(--black) !important; }
